<!DOCTYPE html>
 <html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
     <head>
         <div th:replace="~{fragment :: meta}"></div>    
              
         <div th:replace="~{fragment :: styles}"></div>    
         
         <title>曲登録情報</title>       
     </head>
     <body>
         <div class="musiccollection-wrapper">
             <!-- ヘッダー -->
             <div th:replace="~{fragment :: header}"></div>    
         
             
             <main>
                 <div class="container pt-4 pb-5 musiccollection-container">
                     <div class="row justify-content-center">
                         <div class="col-xxl-9 col-xl-10 col-lg-11">
							 <nav class="mb-4" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
								<ol class="breadcrumb mb-0">
									<li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>
									<li class="breadcrumb-item"><a th:href="@{/musics}">曲一覧</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">曲登録情報</li>
								</ol>
							</nav>
                             
                             <h1 class="mb-4 text-center text-white">My music</h1>   
                             
                             <div th:if="${successMessage}" class="alert alert-info">
                                 <span th:text="${successMessage}"></span>
                             </div>                                                         
                             
                             <table class="table">
                                 <thead>
                                     <tr>
                                         <th scope="col">Music ID</th>
                                         <th scope="col">ジャンル</th>
                                         <th scope="col">曲名</th>
                                         <th scope="col">アーティスト</th>
                                         <th scope="col">曲画像ファイル</th>
                                         <th scope="col">音楽ファイル</th>
                                         <th scope="col">価格</th>
                                         <th scope="col">Eメール</th>                                  
                                     </tr>
                                 </thead>   
                                 <tbody>                                                     
                                     <tr th:each="music : ${musicPage}">
                                         <td th:text="${music.getMusicId()}"></td>
                                         <td th:text="${music.genre.getGenreName()}"></td>
                                         <td th:text="${music.getSongTitle()}"></td>
                                         <td th:text="${music.getArtist()}"></td>
                                         <td th:text="${music.getImageName()}"></td>
                                         <td th:text="${music.getMusicFile()}"></td> 
                                         <td th:text="${music.getPrice()}"></td>
                                         <td th:text="${music.getEmail()}"></td>                                          
                                     </tr>                                      
                                 </tbody>
                             </table> 
                             
                             <!-- ページネーション -->
                             <div th:if="${musicPage.getTotalPages() > 1}" class="d-flex justify-content-center">
                                 <nav aria-label="曲一覧ページ">
                                     <ul class="pagination">
                                         <li class="page-item">
                                             <span th:if="${musicPage.isFirst()}" class="page-link disabled">前</span>
                                             <a th:unless="${musicPage.isFirst()}" th:href="@{/musics(page = ${musicPage.getNumber() - 1}, songTitle = ${songTitle}, artist = ${artist})}" class="page-link musiccollection-page-link">前</a>
                                         </li>
                                         <li th:each="i : ${#numbers.sequence(0, musicPage.getTotalPages() - 1)}" class="page-item">
                                             <span th:if="${i == musicPage.getNumber()}" class="page-link active musiccollection-active" th:text="${i + 1}"></span>
                                             <a th:unless="${i == musicPage.getNumber()}" th:href="@{/admin/musics(page = ${i}, songTitle = ${songTitle}, artist = ${artist})}" class="page-link musiccollection-page-link" th:text="${i + 1}"></a>
                                         </li>
                                         <li class="page-item">                        
                                             <span th:if="${musicPage.isLast()}" class="page-link disabled">次</span>
                                             <a th:unless="${musicPage.isLast()}" th:href="@{/musics(page = ${musicPage.getNumber() + 1}, songTitle = ${songTitle}, artist = ${artist})}" class="page-link musiccollection-page-link">次</a>
                                         </li>
                                     </ul>
                                 </nav> 
                             </div>
                                                                             
                         </div>
                     </div>
                 </div>              
             </main>
             
             <!-- フッター -->
             <div th:replace="~{fragment :: footer}"></div>    
         
         </div>    
         
         <!-- Bootstrap -->
         <div th:replace="~{fragment :: scripts}"></div>    
     </body>
 </html>