<!DOCTYPE html>
 <html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
     <head>
         <div th:replace="~{fragment :: meta}"></div>   
              
         <div th:replace="~{fragment :: styles}"></div>
         
         <title>曲登録</title>       
     </head>
     <body>
         <div class="musiccollection-wrapper">
             <!-- ヘッダー -->
             <div th:replace="~{fragment :: header}"></div>
             
             <main>
                 <div class="container pt-4 pb-5 musiccollection-container">
                     <div class="row justify-content-center">
                         <div class="col-xl-5 col-lg-6 col-md-8">
                             <nav class="mb-4" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                                 <ol class="breadcrumb mb-0"> 
                                     <li class="breadcrumb-item"><a th:href="@{/musics}">曲一覧</a></li>                                                           
                                     <li class="breadcrumb-item active" aria-current="page">曲登録</li>
                                 </ol>
                             </nav> 
                             
                             <h1 class="mb-4 text-center">曲登録</h1>         
                             
                             <form method="post" th:action="@{/musics/userMusicCreate}" th:object="${userMusicRegisterForm}" enctype="multipart/form-data">                                                            
                                 <div class="form-group row mb-3">
                                     <div class="col-md-4">
                                         <label for="songTitle" class="col-form-label text-md-left fw-bold">曲名</label>
                                     </div>
                                     <div class="col-md-8">                                    
                                         <div th:if="${#fields.hasErrors('songTitle')}" class="text-danger small mb-2" th:errors="*{songTitle}"></div>                                    
                                         <input type="text" class="form-control" th:field="*{songTitle}" autofocus>
                                     </div>
                                 </div>
                                 
                                 <div class="form-group row mb-3">
                                     <div class="col-md-4">
                                         <label for="artist" class="col-form-label text-md-left fw-bold">アーティスト</label>
                                     </div>
                                     <div class="col-md-8">                                    
                                         <div th:if="${#fields.hasErrors('artist')}" class="text-danger small mb-2" th:errors="*{artist}"></div>                                    
                                         <input type="text" class="form-control" th:field="*{artist}" autofocus>
                                     </div>
                                 </div>
                                 
                                 <div class="form-group row mb-3">
                                     <div class="col-md-4">
                                         <label for="imageFile" class="col-form-label text-md-left fw-bold">曲用画像</label>
                                     </div>                                    
                                     <div class="col-md-8">
                                         <div th:if="${#fields.hasErrors('imageFile')}" class="text-danger small mb-2" th:errors="*{imageFile}"></div>  
                                         <input type="file" class="form-control" th:field="*{imageFile}">
                                     </div>
                                 </div>
                                 
                                 <!-- 選択された画像の表示場所 -->
                                 <div class="row" id="imagePreview"></div>   
                                 
                                 <div class="form-group row mb-3">
                                     <div class="col-md-4">
                                         <label for="musicFile" class="col-form-label text-md-left fw-bold">曲</label>
                                     </div>                                    
                                     <div class="col-md-8">
                                         <div th:if="${#fields.hasErrors('musicFile')}" class="text-danger small mb-2" th:errors="*{musicFile}"></div>  
                                         <input type="file" class="form-control" th:field="*{musicFile}">
                                     </div>
                                 </div>   
                                 
                                 <!-- 選択された曲の表示場所 -->
                                 <div class="row" id="musicPreview"></div>   
                                 
                                 <div class="form-group row mb-3">
                                     <div class="col-md-4">
                                         <label for="description" class="col-form-label text-md-left fw-bold">説明</label>
                                     </div>
                                     <div class="col-md-8">                            
                                         <div th:if="${#fields.hasErrors('description')}" class="text-danger small mb-2" th:errors="*{description}"></div>                                        
                                         <textarea class="form-control" th:field="*{description}" cols="30" rows="5"></textarea>
                                     </div>
                                 </div>
                                 
                                 <div class="form-group row mb-3">
                                     <div class="col-md-4">
                                         <label for="genreName" class="col-form-label text-md-left fw-bold">ジャンル</label>
                                     </div>
                                     <div class="col-md-8">                            
                                         <div th:if="${#fields.hasErrors('genreName')}" class="text-danger small mb-2" th:errors="*{genreName}"></div>                                        
                                         <input type="text" class="form-control" th:field="*{genreName}" autofocus>
                                     </div>
                                 </div>
                                 
                                 <div class="form-group row mb-3">
                                     <div class="col-md-4">
                                         <label for="price" class="col-form-label text-md-left fw-bold">料金（単位：円）</label>
                                     </div> 
                                     <div class="col-md-8">
                                         <div th:if="${#fields.hasErrors('price')}" class="text-danger small mb-2" th:errors="*{price}"></div>
                                         <input type="number" class="form-control" th:field="*{price}">                                
                                     </div>                                    
                                 </div>
                                   
                                 <div class="form-group row mb-3">
                                     <div class="col-md-4">
                                         <label for="email" class="col-form-label text-md-left fw-bold">メールアドレス</label>
                                     </div> 
                                     <div class="col-md-8">
                                         <div th:if="${#fields.hasErrors('email')}" class="text-danger small mb-2" th:errors="*{email}"></div>
                                         <input type="text" class="form-control" th:field="*{email}">                                
                                     </div>                                    
                                 </div>                                                                                                                              
                                 
                                 <div class="form-group d-flex justify-content-center my-4">
                                     <button type="submit" class="btn text-white shadow-sm w-50 musiccollection-btn">登録</button>
                                 </div>
                             </form>                                                                         
                         </div>
                     </div>
                 </div>                
             </main>
             
             <!-- フッター -->
             <div th:replace="~{fragment :: footer}"></div>
         </div>    
         
         <div th:replace="~{fragment :: scripts}"></div>  
         <script th:src="@{/js/preview.js}"></script>
         <script th:src="@{/js/musicPreview.js}"></script> 
         <script th:src="@{/js/music.js}"></script>     
     </body>
 </html>