<!DOCTYPE html>
 <html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
     <head>
         <div th:replace="~{fragment :: meta}"></div>
         
         <div th:replace="~{fragment :: styles}"></div>
         
         <title>Music Collection</title>
         
         <!-- slickの読み込み -->
         <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css">
         <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">	
     </head>
     <body>
		 <div class="musiccollection-wrapper">
			 <!-- ヘッダー -->
			 <div th:replace="~{fragment :: header}"></div>
			 
			 <main>
				 <div class="container pt-4 pb-5 musiccollection-container">
					 <div th:if="${param.loggedIn}" class="alert alert-info">
						 ログインしました。
					 </div>
					 
					 <div th:if="${param.loggedOut}" class="alert alert-info">
						 ログアウトしました。
					 </div>
					 
					 <div th:if="${successMessage}" class="alert alert-info">
						 <span th:text="${successMessage}"></span>
					 </div>
					
					<!-- カルーセル --> 
					 <div class="carousel">
						 <div th:each="newMusic: ${newMusics}">
						    <img th:if="${newMusic.getImageName() != null}" th:src="@{/storage/__${newMusic.getImageName()}__}" class="carouselImg card-img-top musiccollection-vertical-card-image" alt="曲イメージ画像">
						    <img th:unless="${newMusic.getImageName() != null}" th:src="@{/images/noImage.png}" class="carouselImg card-img-top musiccollection-vertical-card-image" alt="NO IMAGE">
						 </div>
					</div>
					
					 <div class="d-flex justify-content-center js-fade">
						 <form method="get" th:action="@{/musics}" class="mb-5 mx-3 musiccollection-search-form">
							 <div class="input-group">
								 <input type="text" class="form-control" name="songTitle" th:value="${songTitle}" placeholder="曲名">
								 <input type="text" class="form-control" name="artist" th:value="${artist}" placeholder="アーティスト">
								 <button type="submit" class="btn text-white shadow-sm musiccollection-btn">検索</button>
							 </div>
						 </form>
						 
						 <a th:href="@{/musics/userMusicRegister}" class="btn text-white shadow-sm mb-5 musiccollection-btn">曲登録</a>
					 </div>
					 
					 <h2 class="text-center mb-3 js-fade">新着</h2>
					 <div class="row row-cols-lg-5 row-cols-2 g-3 mb-5 js-fade">
						 <div class="col js-fade" th:each="newMusic : ${newMusics}">
							 <a th:href="@{/musics/__${newMusic.getMusicId()}__}" class="link-dark musiccollection-card-link">
								 <div class="card h-100">
									 <img th:if="${newMusic.getImageName()}" th:src="@{/storage/__${newMusic.getImageName()}__}" class="card-img-top musiccollection-vertical-card-image" alt="曲イメージ画像">
									 <img th:unless="${newMusic.getImageName()}" th:src="@{/images/noImage.png}" class="card-img-top musiccollection-vertical-card-image" alt="NO IMAGE">
									 <div class="card-body">
										 <h3 class="card-title" th:text="${newMusic.getSongTitle()}"></h3>
										 <p class="card-text mb-1">
											 <small class="text-muted" th:text="${newMusic.getArtist()}"></small>
										 </p>
<!--										 <button onclick="playPause(this)" th:attr="data-audio-src=@{'/music/' + ${newMusic.musicFile}}" class="btn btn-primary mt-2">再生</button>-->
										<audio id="audioPlayer" th:src="@{/music/__${newMusic.musicFile}__}" class="w-100" controls></audio>
									 </div>
								 </div>
							 </a>
						 </div>
					 </div>
					 
					 <div class="row justify-content-center js-fade">
						 <div class="col-xl-5 col-lg-6 col-md-8">
							 
							 <h2 class="text-center mb-3">ジャンルから探す</h2>
							 
							 <table class="table">
								 <tbody>
									 <tr>
										 <th>HipHop</th>
										 <td>
											 <a th:href="@{/musics?genre=HipHop}">HipHop</a>
										 </td>
									 </tr>
									 <tr>
										 <th>Jazz</th>
										 <td>
											 <a th:href="@{/musics?genre=Jazz}">Jazz</a>
										 </td>
									 </tr>
									 <tr>
										 <th>Pops</th>
										 <td>
											 <a th:href="@{/musics?genre=Pops}">Pops</a>
										 </td>
									 </tr>
									 <tr>
										 <th>Rock</th>
										 <td>
											 <a th:href="@{/musics?genre=Rock}">Rock</a>
										 </td>
									 </tr>
								 </tbody>
							 </table>
						 </div>
					 </div>
				 </div>
			 </main>
			 
			 <!-- フッター -->
			 <div th:replace="~{fragment :: footer}"></div>
			 
			 <!-- Topに戻るボタン -->
			 <a id="backbtn" th:href="@{/}">Top</a>
			 
		 </div>
		 
		 <div th:replace="~{fragment :: scripts}"></div>
		 
		 <!--　music.js -->
         <script th:src="@{/js/music.js}"></script>
         
         <!-- jQuery -->
         <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	     <!-- slickの読み込み -->
	     <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
	     <script th:src="@{js/design.js}"></script>
     </body>
 </html>